/*font import information*/
/* Heading font family rules - font-family: 'Raleway', sans-serif;*/
/* Paragraph font family rules - font-family: 'Bitter', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Raleway:wght@600&display=swap');

/*------------ CREDIT: REBUILT NAV FROM ORIGINAL DESIGN BASED ON CONTENT IN THIS VIDEO, STYLES ARE MY OWN BUT WANTED RESPONSIVE HAMBURGER NAV https://www.youtube.com/watch?v=xMTs8tAapnQ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bitter', serif;
    font-weight: 300;
    background-color: #dbdddb;
 }

 h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
 }
#logo {
    height: 80px;
    width: 180px;
    margin: 10px 0 0 30px;
    float: left;
}

.nav {
    background-color: #3f4042;
    height: 100px;
    width: 100%;
    text-align: right;
    line-height: 100px;
}

.menu {
    margin: 0 30px 0 0;
    width: 60%;
    float: right;
    position: relative;
    z-index: 999;
}

.menu a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #dbdbdb;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 125%;
    letter-spacing: 1px;
    line-height: 100px;
    transition: color 0.3s;
}

#grab-table-button {
    margin-left: 2.5vw;
    background-color: #fafafa;
    padding: 5px 7px;
    color: #3f4042;
    border-radius: 2px;
    transition: color 0.3s;
}

.menu a:hover:not(#grab-table-button) {
    color: #D6A419;
    border-bottom: 2px solid #fafafa;
    transition-timing-function: ease-in-out;
}

#grab-table-button:hover {
    color: #D6A419;
    transition-timing-function: ease-in-out;
}
/*CREDIT - CODE INSTITUTE LOVE RUNNING PROJECT, CUSTOMISED CODE BUT USED THE IDEA FROM COURSE MODULE*/
.link-active {
    border-bottom: 2px solid #fafafa;
}
/*END OF CREDIT*/
#burger {
    margin: 0 40px 0 0;
    font-size: 35px;
    line-height: 100px;
    display: none;
    color: #dbdbdb;
}

#toggle {
    display: none;
}


/*---------- HOME BODY SECTION GLOBAL STYLINGS -------*/
#home-section-taps-image {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('../images/sstaps-optimised.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 48rem;
    position: relative;
}

#home-overlay {
    width: 40%;
    background-color: rgba(181, 138, 27, 0.9);
    bottom: 25rem;
    margin-left: 8%;
    float: left;
    position: absolute;
    border-radius: 3px;
}

#home-overlay h2 {
    text-align: left;
    margin-top: 1rem;
    padding-left: 1rem;
    color: #fafafa;
}

#home-overlay p {
    text-align: left;
    margin-top: 2rem;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-bottom: 1rem;
    color: #fafafa;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

/*---------- ABOUT PAGE STYLINGS ------------*/

#about-page-container {
    width: 100%;
    height: 42rem;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('../images/bar-blurry-3-optimise-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
    background-attachment: fixed;
    position: relative;
}

#about-us-section {
    width: 60%;
    border-radius: 3px;
    background-color: rgba(81, 87, 107, 0.9);
    position: absolute;
    left: 20%;
    top: 5rem;
    text-align: center;
    padding: 2rem 2rem;
}

#about-us-section > h2 {
    font-size: 200%;
    color: #dbdbdb;
}

#about-us-section > p {
    font-size: 130%;
    font-family: 'Bitter', serif;
    color: #dbdbdb;
    padding-top: 1em;
}

.about-subsection {
    font-size: 150%;
    text-decoration: underline;
    text-transform: uppercase;
}


/*----OUR MENU PAGE GLOBAL STYLINGS, COMMENTS BREAK SPECIFIC STYLINGS DOWN BELOW------*
/*-------- SOUTH STAND BEER SECTION GLOBAL STYLINGS -------*/

#menu-section-top-image {
    background-image: url('../images/menu-top-image-optimized.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y:  68%;
    width: 100%;
    height: 25rem;
}

#south-stand-beer-menu-section h2 {
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin: 2vh 0;
}

.beer-card-container {
    width: 100%;
    background-color: #3f4042;
    height: 100%;
    text-align: center;
}

#beer-card-flavour {
    padding: 1rem 0 1rem 0;
    font-size: 150%;
    color: #dbdbdb;
    font-weight: bold;
}

.beer-card {
    display: inline-block;
    width: 25%;
    height: 90%;
    border-radius: 4px;
    margin: 1rem 2vw;
    background-color: #3f4042;
    text-align: center;
    overflow: hidden;
}

.beer-card img {
   object-fit: cover;
   width: 100%;
   position: relative;
   bottom: 0;
   z-index: 1;
}

.beer-card-info {
    position: relative;
    bottom: 0;
    font-size: 150%;
    font-weight: bold;
    color: #dbdbdb;
}

#other-drink-menu-heading {
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/*-------- OTHER DRINKS MENU SECTION GLOBAL STYLINGS -------*/
 .other-drinks-menu-container {
    width: 100%;
    background-color: #dbdddb;
    height: 40rem;
    text-align: center;
    padding-top: 2vh;
 }

 .other-drinks-card {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    border-radius: 4px;
    height: 600px;
    margin: 0 2vw;
    background-color: #51576B;
    text-align: center;
}

 /*------------ WORLD BEER & WINE MENU CARD GLOBAL STYLINGS --------------*/

.other-drinks-card h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 200%;
    color:#dbdddb;
    margin: 10px 0;
    padding-top: 10px;
}

.other-drinks-card p {
    color:#dbdddb;
    max-width: 90%;
    margin: 0 auto;
}

.other-drinks-menu-item {
    margin: 20px;
}

.other-drinks-menu-item h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #dbdbdb ;
}

/*------------ SPIRIT MENU CARD GLOBAL STYLINGS ------------*/

.spirit-menu-item h3 {
    margin: 10px 0 0 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #dbdbdb ;
}

.spirit-menu-item p {
    font-family: 'Bitter', serif;
    text-transform: uppercase;
    font-size: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.spirit-menu-item {
    margin: 0 0;
}
 /*----------- COCKTAIL MENU CARD GLOBAL STYLINGS -----------------------*/

.cocktail-menu-item {
    margin: 1rem 0;
}

.cocktail-menu-item h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #dbdbdb ;
}

.cocktail-menu-item p {
    max-width: 90%;
    margin: 0 auto;
    
}

/*----------- SOFT DRINKS LIST STYLING -----------*/

.other-drinks-card li {
    list-style: none;
    color: #dbdbdb;
    text-transform: uppercase;
}

/*------------- BOOKING FORM PAGE GLOBAL STYLINGS ------------*/

#form-page-container {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('../images/bar-table-2-optimised.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 75%;
    width: 100%;
    height: 42rem;
}

#form-page-container section{
    width: 30%;
    height: 42rem;
}

/*-------- STYLINGS FOR BOOKING FORM CONTAINER, CONTENT AND INPUTS -----------*/
#form-container {
    width: 30%;
    height: 610px;
    background-color: rgba(81, 87, 107, 0.9);
    margin: 0 auto;
    position: absolute;
    top: 14%;
    left: 15%;
    z-index: 1;
}

.form-header {
    margin-left: 2rem;
    padding-top: 1.5rem;
    max-width: 90%;
    color: #dbdbdb;
    font-size: 120%;
}

.form-header span {
    font-style: italic;
}

form {
    margin-top: 1rem;
}

form > label  {
    color: #dbdbdb;
    font-size: 150%;
    margin-left: 2rem;
    display: inline-block;
    width: 250px;
    text-align: right;
    padding: 0.4rem 0;
}

/*--------- CODE REFERENCE: This code was pulled from w3schools page at www.w3schools.com/howto/howto_css_hide_arrow_number.asp --------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*----- END OF CODE REFERENCE -------*/

input[type="text"], input[type="email"], input[type="number"], input[type="datetime-local"], select {
    width: 212px;
    height: 30px; 
    background-color: #dbdbdb;   
    border: none;
    border-radius: 2px;
    margin-left: 0.3rem;
    -moz-appearance: textfield;
}

.radio-label {
    font-size: 100%;
    color: #dbdbdb;
}
#mail-list-question, #booking-conf-statement {
    margin-left: 2rem;
    color: #dbdbdb;
    margin-top: 0.5rem;
    max-width: 90%;
    width: 250px;
}

#booking-conf-statement {
    position: relative;
    bottom: 1rem;
}

#yes-radio-button {
    position: relative;
    display: inline-block;
    left: 21rem;
    bottom: 3rem;

}
#no-radio-button {
    position: relative;
    display: inline-block;
    left: 23rem;
    bottom: 3rem;

}

#booking-conf-disclaimer {
    position: relative;
    left: 21rem;
    bottom: 4.5rem;
}

input[type="reset"], input[type="submit"] {
    width: 100px;
    height: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="submit"] {
    background-color: #dbdbdb;
    color: #3f4042;
    margin-left: 25%;
    transition: color 0.2s;
    transition: background-color 0.3s;
    -webkit-appearance: none;
}

input[type="reset"] {
    background-color: #3f4042 ;
    color: #dbdbdb;
    border: 1px solid white;
    margin-left: 18%;
    transition: color 0.2s;
    transition: background-color 0.3s;
}

input[type="reset"]:hover {
    background-color: #dbdbdb;
    color: #3f4042;
    transition-timing-function: ease-in-out;
}

input[type="submit"]:hover {
    background-color: #D6A419;
    color: #000;
    transition-timing-function: ease-in-out;
}
/*---------- FOOTER STYLINGS GLOBAL STYLINGS ------------*/
footer {
    height: 15rem;
    background-color: #51576B;
    text-align: center;
    padding-top: 1rem;
}

footer > div {
    margin: auto;
    display: inline-block;
    vertical-align: top;
}

.footer-section {
    width: 30%;
    height: 90%;
    background-color: #51576B;
}

.footer-section hr {
    width: 90%;
}

/*--------- FIND US FOOTER SECTION GLOBAL STYLINGS ----------*/

#find-us-footer-section h2 {
    text-transform: uppercase;
    color: #dbdbdb;
    text-align: left;
}

#find-us-footer-section div {
    display: inline-block;
    text-transform: uppercase;
    color: #dbdbdb;
    margin-top: 1rem;
}

#find-us-footer-section div p {
    text-transform: uppercase;
    color: #dbdbdb;
    text-align: left;
    font-size: 130%;
}

#find-us-footer-section > iframe {
    float: left;
    width: 60%;
    margin-top: 1rem;
    border: 2px solid #D6A419;
    z-index: 2;
    position: relative;
}

#iframe-no-load {
    position: relative;
    bottom: 2.5rem;
    right: 20rem;
    color: #dbdbdb;
    font-size: 110%;
    z-index: 1;
}

/*----------- OPENING TIMES FOOTER SECTION GLOBAL STYLINGS ----------*/

#opening-times-footer-section h2 {
    text-transform: uppercase;
    color: #dbdbdb;
}

#opening-times-footer-section hr {
    width: 60%;
    margin: 0 auto;
}
#opening-times-footer-section div {
    display: block;
    text-transform: uppercase;
    font-size: 130%;
    line-height: 1.5rem;
    color: #dbdbdb;
    margin-top: 1rem;
}

#footer-social-icons i {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 250%;
}

#footer-social-icons a {
    color: #dbdbdb;
    text-decoration: none;
    margin: 0 2rem;
}

/*------- CONTACT FOOTER SECTION GLOBAL STYLINGS --------*/

#contact-section {
    text-align: right;
}

#contact-section hr {
    float: right;
}

#contact-section div {
    margin-top: 1rem;
}

#contact-section, div h2 p {
    text-transform: uppercase;
    color:#dbdbdb;
}

/*-------------------- MOBILE VIEW STYLES -------------*/
@media only screen 
and (min-width: 320px) 
and (max-width: 425px) {
    
    /*----------MOBILE NAVIGATION STYLINGS------------*/
    #logo {
        height: 80px;
        margin: 10px 0 0 10px;
        float: left;
    }

    #burger {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }

    .menu {
        text-align: center;
        width: 70%;
        background-color: #3f4042;
        float: right;
        margin-right: 0;
        display: none;
        position: absolute;
        top: 100px;
        left: 30%;
        z-index: 20;
    }

    .menu a {
        display: block;
    }

    #toggle:checked+.menu {
        display: block;
    }

    #grab-table-button {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        color: #dbdbdb;
        background-color: #3f4042;
        margin: 0 10px;
        text-transform: uppercase;
        font-size: 125%;
        letter-spacing: 1px;
        line-height: 100px;
    }

    #grab-table-button:hover {
        color: #D6A419;
        border-bottom: 2px solid #fafafa;
        transition-timing-function: ease-in-out;
    }

    /*--------HOME PAGE MOBILE STYLINGS-----------*/

    #home-section-taps-image {
        background-position-x: 60%;
        height: 600px;
    }

    #home-overlay {
        position: relative;
        width: 90%;
        bottom: 35em;
        margin-left: 5%;
    }

    #home-overlay h2 {
        text-align: center;
        padding-left: 0;
        max-width: 90%;
        margin: 1rem;
    }

    #home-overlay p {
        text-align: center;
        line-height: 1.1;
        font-size: 100%;
    }

    /*-------------- ABOUT PAGE MOBILE STYLINGS -----------*/

    #about-us-section {
        width: 90%;
        font-size: 100%;
        left: 5%;
        top: 5%;
    }

    #about-us-section > h2 {
        font-size: 150%;
        color: #dbdbdb;
        margin: auto;
    }
    
    #about-us-section > p {
        font-size: 100%;
        font-family: 'Bitter', serif;
        color: #dbdbdb;
        text-align: center;
        margin: auto;
    }

    /*--------------- MENU PAGE MOBILE STYLINGS ---------------*/

    #menu-section-top-image {
        height: 10rem;
    }

    #south-stand-beer-menu-section h2 {
        font-size: 270%;
        letter-spacing: 5px;
        margin: 0.5rem 0;
        z-index: 1;
    }

    .beer-card-container {
        height: 100%;
        padding-bottom: 1rem;
        z-index: 2;
    }

    #beer-card-flavour {
        max-width: 90%;
        margin: 0 auto;
        z-index: 3;
    }

    .beer-card {
        display: block;
        width: 90%;
        margin: 0 auto 1rem auto;
        height: auto;
        z-index: 4;
    }

    .beer-card img {
        bottom: 0;
     }

     .beer-card-info {
        bottom: 0;
    }

    .other-drinks-menu-container {
        height: 100%;
        padding: 1em 0;
     }
    
     .other-drinks-card {
        display: block;
        width: 95%;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 5px;
     }

     .cocktail-menu-item h3 {
        font-size: 110%;
    }
    
    /*---------------BOOKING FORM PAGE MOBILE STYLINGS - EXTRA STYLINGS FOR TABLETS CAN BE FOUND IN FOLLOWING MEDIA QUERY -------------*/

    #form-page-container {
        height: 55rem;
    }

    #form-container {
        width: 100%;
        height: 780px;
        position: absolute;
        top: 125px;
        left: 0;
        z-index: 1;
    }

    .form-header {
        margin-left: 1rem;
        padding-top: 1rem;
        max-width: 90%;
        font-size: 90%;
    }

    form > label {
        font-size: 120%;
        margin-left: 1rem;
        text-align: left;
        padding: 0.4rem 0;
    }

    input[type="text"], input[type="email"], input[type="number"], input[type="datetime-local"], select {
        width: 212px;
        height: 25px;
        margin-left: 1rem;
    }
    
    #mail-list-question, #booking-conf-statement {
        margin-left: 1rem;
        margin-bottom: 3rem;
    }
    
    #yes-radio-button {
        position: relative;
        display: inline-block;
        left: 1rem;
        bottom: 2rem;
    }
    
    #no-radio-button {
        position: relative;
        display: inline-block;
        left: 3rem;
        bottom: 2rem;
    }

    #booking-conf-disclaimer {
        position: relative;
        left: 1rem;
        bottom: 4rem;
    }

    input[type="reset"] {
        margin-left: 0;
    }
    
    /*---------------FOOTER MOBILE STYLINGS------------*/

    footer {
        height: 600px;
        text-align: center;
        padding-top: 0;
        position: absolute;
    }

    .footer-section {
        width: 90%;
        height: 30%;
        text-align: center;
        margin-top: 1em;
    }

    #find-us-footer-section h2 {
       text-align: center;
    }

    #find-us-footer-section hr {
        width: 100%;
    }
    
    #find-us-footer-section div p {
        text-align: left;
        font-size: 100%;
        display: inline-block;
    }

    #find-us-footer-section > iframe {
        width: 100%;
        height: 80px;
        margin-top: 0.5em;
    }

    #iframe-no-load {
        right: 0rem;
        bottom: 3rem;
    }    

    #opening-times-footer-section div {
        font-size: 100%;
        line-height: 1.5rem;
        margin-top: 1rem;
    }

    #opening-times-footer-section hr {
        width: 100%;
    }

    #contact-section h2 {
        text-align: center;
    }

    #contact-section hr {
        width: 100%;
    }

    #contact-section p {
        font-size: 80%;
        text-align: center;
    }

    #footer-social-icons {
        margin-top: 0;
        text-align: center;
        position: relative;
        bottom: 1em;
    }

    #footer-social-icons a {
        color: #dbdbdb;
        text-decoration: none;
        margin: 0 1rem;
    }
}

/*-------------------- TABLET VIEW STYLES -------------*/
@media only screen 
and (min-width: 425px) 
and (max-width: 1024px) {
    /*---------TABLET NAV STYLES - DUPLICATED FROM MOBILE VIEW -------*/
    #logo {
        height: 80px;
        margin: 10px 0 0 10px;
        float: left;
    }

    #burger {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }

    .menu {
        text-align: center;
        width: 70%;
        background-color: #3f4042;
        float: right;
        margin-right: 0;
        display: none;
        position: absolute;
        top: 100px;
        left: 30%;
        z-index: 20;
    }

    .menu a {
        display: block;
    }

    #toggle:checked+.menu {
        display: block;
    }


    #grab-table-button {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        color: #dbdbdb;
        background-color: #3f4042;
        margin: 0 10px;
        text-transform: uppercase;
        font-size: 125%;
        letter-spacing: 1px;
        line-height: 100px;
    }

    #grab-table-button:hover {
        color: #D6A419;
        border-bottom: 2px solid #fafafa;
        transition-timing-function: ease-in-out;
    }

    /*---------- TABLET HOME PAGE STYLINGS - DUPLICATED FROM MOBILE VIEW ------------*/

    #home-section-taps-image {
        background-position-x: 60%;
        height: 600px;
    }

    #home-overlay {
        position: relative;
        width: 90%;
        bottom: 35em;
        margin-left: 5%;
    }

    #home-overlay h2 {
        text-align: center;
    }

    #home-overlay p {
        text-align: center;
        line-height: 1.1;
        font-size: 100%;
    }

    /*-------------- ABOUT PAGE TABLET PORTRAIT STYLINGS - DUPLICATED FROM MOBILE VIEW -----------*/

    #about-us-section {
        width: 90%;
        font-size: 100%;
        left: 5%;
        top: 5%;
    }

    #about-us-section > h2 {
        font-size: 150%;
        color: #dbdbdb;
        margin: auto;
    }
    
    #about-us-section > p {
        font-size: 100%;
        font-family: 'Bitter', serif;
        color: #dbdbdb;
        text-align: center;
        margin: auto;
    }

        /*--------------- MENU PAGE TABLET PORTRAIT VIEW STYLINGS - DUPLICATED FROM MOBILE, SOME VALUES CHANGED TO FIT VIEWPORT SIZE ---------------*/

        #menu-section-top-image {
            height: 15rem;
        }
    
        #south-stand-beer-menu-section h2 {
            font-size: 350%;
            letter-spacing: 5px;
            margin: 0.5rem 0;
            z-index: 1;
        }
    
        .beer-card-container {
            height: 100%;
            padding-bottom: 1rem;
            z-index: 2;
        }
    
        #beer-card-flavour {
            max-width: 90%;
            margin: 0 auto;
            z-index: 3;
        }
    
        .beer-card {
            display: block;
            width: 70%;
            margin: 0 auto;
            height: auto;
            z-index: 4;
            padding-top: 1rem;
        }
    
        .beer-card img {
            bottom: 0;
         }
    
         .beer-card-info {
            bottom: 0;
        }
    
        .other-drinks-menu-container {
            height: 100%;
            padding: 1em 0;
         }
        
         .other-drinks-card {
            display: block;
            width: 75%;
            height: 100%;
            margin: 0 auto;
            padding-bottom: 5px;
         }
    
         .cocktail-menu-item h3 {
            font-size: 110%;
        }

        /*---------------BOOKING FORM PAGE TABLET STYLINGS - MOSTLY DUPLICATED FROM MOBILE VIEW, SOME VALUES CHANGED TO FIT LARGER SCREEN SIZE -------------*/

    #form-page-container {
        height: 58rem;
    }

    #form-container {
        display: table;
        width: 70%;
        height: 650px;
        padding-bottom: 1rem;
        padding-right: 1rem;
        position: absolute;
        top: 125px;
        left: 15%;
    }

    .form-header {
        margin-left: 1rem;
        padding-top: 1rem;
        max-width: 90%;
        font-size: 120%;
    }

    form > label {
        font-size: 120%;
        margin-left: 1rem;
        text-align: left;
        padding: 0.4rem 0;
    }

    input[type="text"], input[type="email"], input[type="number"], input[type="datetime-local"], select {
        width: 212px;
        height: 25px;
        margin-left: 1rem;
    }
    
    #mail-list-question, #booking-conf-statement {
        margin-left: 1rem;
        margin-bottom: 3rem;
    }
    
    #yes-radio-button {
        position: relative;
        display: inline-block;
        left: 1rem;
        bottom: 2rem;
    }
    
    #no-radio-button {
        position: relative;
        display: inline-block;
        left: 3rem;
        bottom: 2rem;
    }

    #booking-conf-disclaimer {
        position: relative;
        left: 1rem;
        bottom: 4rem;
    }

    input[type="reset"] {
        margin-left: 2rem;
    }

    input[type="submit"] {
        margin-left: 2rem;
    }

        /*---------------FOOTER TABLET STYLINGS - DUPLICATED FROM MOBILE VIEW------------*/

    footer {
        height: 600px;
        text-align: center;
        padding-top: 0;
        position: absolute;
    }

    .footer-section {
        width: 90%;
        height: 30%;
        text-align: center;
        margin-top: 1em;
    }

    #find-us-footer-section h2 {
       text-align: center;
    }

    #find-us-footer-section hr {
        width: 100%;
    }
    
    #find-us-footer-section div p {
        text-align: left;
        font-size: 100%;
        display: inline-block;
    }

    #find-us-footer-section > iframe {
        width: 100%;
        height: 80px;
        margin-top: 0.5em;
    }

    #iframe-no-load {
        right: 0rem;
        bottom: 3rem;
    }    

    #opening-times-footer-section div {
        font-size: 100%;
        line-height: 1.5rem;
        margin-top: 1rem;
    }

    #opening-times-footer-section hr {
        width: 100%;
    }

    #contact-section h2 {
        text-align: center;
    }

    #contact-section hr {
        width: 100%;
    }

    #contact-section p {
        font-size: 80%;
        text-align: center;
    }

    #footer-social-icons {
        margin-top: 0;
        text-align: center;
        position: relative;
        bottom: 1em;
    }

    #footer-social-icons a {
        color: #dbdbdb;
        text-decoration: none;
        margin: 0 1rem;
    }
}

/*------------- LAPTOP SCREEN STYLINGS -----------*/
@media only screen 
and (min-width: 1024px) 
and (max-width: 1440px) {

    /*------- HOME PAGE LAPTOP STYLINGS ----------*/
    #home-overlay {
        clear: both;
        width: 50%;
        top: 30%;
        display: table;
    }
    
    /*------- MENU PAGE LAPTOP STYLINGS ----------*/
    .other-drinks-menu-container {
        height: 100%;
        padding-top: 0;
    }

    .beer-card-info {
        font-size: 100%;
    }

    .other-drinks-card {
        width: 40%;
        display: inline-block;
        margin: 1rem 2vh;
        height: 100%;
        padding-bottom: 15px;
    }

    .cocktail-menu-item {
        padding: 7px 0;
    }

    /*---------- BOOKING FORM LAPTOP STYLINGS --------*/
    #form-container {
        width: 45%;
        top: 130px;
    }

    /*---------- FOOTER LAPTOP STYLINGS ----------*/
    #find-us-footer-section div p {
        clear: both;
        display: inline-block;
        font-size: 100%;
        position: relative;
    }

    #find-us-footer-section > iframe {
        clear: both;
        height: 5rem;
        width: 100%;
    }

    #iframe-no-load {
        right: 0rem;
        bottom: 3.5rem;
    }    
}

/*------------ LARGER LAPTOP SCREEN & DESKTOP STYLINGS - GLOBAL STYLINGS TO TAKE OVER FOLLOWING MAX WIDTH ------*/
@media only screen 
and (min-width: 1440px) 
and (max-width: 1600px) {
    /*------- HOME SCREEN LARGE LAPTOP & DESKTOP STYLINGS ----------*/
    #home-overlay {
        clear: both;
        width: 50%;
        top: 30%;
        display: table;
    }
    /*------- MENU PAGE LARGE LAPTOP & DESKTOP STYLINGS ----------*/
    .other-drinks-menu-container {
        height: 100%;
        padding-top: 0;
    }

    .other-drinks-card {
        width: 40%;
        display: inline-block;
        margin: 1rem 2vh;
        height: 100%;
        padding-bottom: 15px;
    }

    .cocktail-menu-item {
        padding: 10px 0;
    }

    /*-------- BOOKING FORM LARGE LAPTOP & DESKTOP STYLINGS ---------*/
    #form-container {
        width: 40%;
        top: 130px;
    }
    /*-------- FOOTER LARGE LAPTOP AND DESKTOP STYLINGS ----------*/
    #find-us-footer-section div p {
        clear: both;
        display: inline-block;
        font-size: 120%;
        position: relative;
        right: 1.5rem;
    }

    #find-us-footer-section > iframe {
        clear: both;
        height: 8rem;
        width: 90%;
    }

    #iframe-no-load {
        right: 0rem;
        bottom: 5rem;
        max-width: 70%;
    } 
}