/*font import information*/
/* Paragraph font family rules - font-family: 'Bitter', serif;*/
/* Heading font family rules - font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bitter', serif;
    font-weight: 300;
    background-color: #dbdddb;
 }

 h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
 }
/*--------- NAVIGATION GLOBAL STYLINGS -------------*/
nav {
    width: 100%;
    height: 100px;
    background-color: #3f4042;
}

#logo {
    height: 80px;
    margin: 10px 0 0 30px;
    float: left;
}

nav ul {
    right: 50px;
    float: right;
    margin-right: 50px;
    margin-top: 40px;
}

nav li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav li a {
    color: #fafafa;
    text-decoration: none;
    transition: color 0.3s;
}

nav li a:hover:not(#grab-table-button) {
    color: #D6A419;
    border-bottom: 2px solid #fafafa;
    transition-timing-function: ease-in-out;
}

#grab-table-button {
    margin-left: 2.5vw;
    background-color: #fafafa;
    padding: 5px 7px;
    color: #3f4042;
    border-radius: 2px;
    transition: color 0.3s;
}

#grab-table-button:hover {
    color: #D6A419;
    transition-timing-function: ease-in-out;
}

.link-active {
    border-bottom: 2px solid #fafafa;
}



/*---------- ABOUT SECTION GLOBAL STYLINGS -------*/
#about-section-taps-image {
    background-image: url('../images/sstaps.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    position: relative;
}

#about-overlay {
    width: 40%;
    height: 300px;
    background-color: rgba(181, 138, 27, 0.9);
    /*background-color: rgba(81, 87, 107, 0.7);*/
    bottom: 50vh;
    margin-left: 8%;
    float: left;
    position: absolute;
    border-radius: 3px;
}

#about-overlay h2 {
    text-align: left;
    margin-top: 2vh;
    padding-left: 2vh;
    color: #fafafa;
}

#about-overlay p {
    text-align: left;
    margin-top: 2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    color: #fafafa;
    line-height: 1.5rem;
    font-size: 1.2rem;
}


/*-------- SOUTH STAND BEER SECTION GLOBAL STYLINGS -------*/
/* MAKE SURE TO REFERENCE W3CHOOLS CODE FOR FLIP HOVER EFFECT YOU TAKE WHEN READY, ADD LINK AND EXPLANATION*/
#south-stand-beer-menu-section h2 {
    font-size: 400%;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin: 2vh 0;
}

.beer-card-container {
    width: 100%;
    background-color: #3f4042;
    height: 50rem;
    text-align: center;
}

#beer-card-flavour {
    padding: 1rem 0 1rem 0;
    font-size: 150%;
    color: #dbdbdb;
}
.beer-card {
    display: inline-block;
    align-items: top;
    width: 25%;
    height: 90%;
    border-radius: 4px;
    margin: 1rem 2vw;
    background-color: #3f4042;
    text-align: center;
    overflow: hidden;
}

.beer-card img {
   object-fit: cover;
   width: 100%;
   position: relative;
   bottom: 4rem;
   z-index: 1;
}

.beer-card-info {
    position: relative;
    bottom: 3.5rem;
    font-size: 150%;
    font-weight: bold;
    color: #dbdbdb;
}
 /*------------ OTHER DRINKS MENU SECTION GLOBAL STYLINGS --------------*/

 .other-drinks-menu-container {
    width: 100%;
    background-color: #dbdddb;
    height: 50rem;
    text-align: center;
    padding-top: 2vh;
 }

 .other-drinks-card {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    border-radius: 4px;
    height: 90%;
    margin: 0 2vw;
    background-color: #3f4042;
    text-align: center;
}

.other-drinks-card h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 200%;
    color:#dbdddb;
    margin: 10px 0;
}

.other-drinks-card p {
    color:#dbdddb;
}

.other-drinks-menu-item {
    margin: 20px;
}
.other-drinks-menu-item h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #dbdbdb ;
}

/*---------- FOOTER STYLINGS GLOBAL STYLINGS ------------*/
footer {
    height: 15rem;
    background-color: #51576B;
    text-align: center;
    padding-top: 1rem;
}

footer > div {
    margin: auto;
    display: inline-block;
    vertical-align: top;
}

.footer-section {
    width: 30%;
    height: 90%;
    background-color: #51576B;
}

.footer-section hr {
    width: 90%;
}

/*--------- FIND US FOOTER SECTION GLOBAL STYLINGS ----------*/

#find-us-footer-section h2 {
    text-transform: uppercase;
    color: #dbdbdb;
    text-align: left;
}

#find-us-footer-section div {
    display: inline-block;
    text-transform: uppercase;
    color: #dbdbdb;
    margin-top: 1rem;
}

#find-us-footer-section div p {
    text-transform: uppercase;
    color: #dbdbdb;
    text-align: left;
    font-size: 130%;
}

#find-us-footer-section > iframe {
    float: left;
    width: 60%;
    margin-top: 1rem;
    border: 2px solid #D6A419;
}

/*----------- OPENING TIMES FOOTER SECTION GLOBAL STYLINGS ----------*/

#opening-times-footer-section h2 {
    text-transform: uppercase;
    color: #dbdbdb;
}

#opening-times-footer-section hr {
    width: 100%;
}
#opening-times-footer-section div {
    display: block;
    text-transform: uppercase;
    font-size: 130%;
    line-height: 1.5rem;
    color: #dbdbdb;
    margin-top: 1rem;
}

.footer-social-icons i {
    display: inline-block;
}
.footer-social-icons a {
    font-size: 200%;
    color: #dbdbdb;
}